/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='text'] {
  transition: width 0.2s, border-color 0.2s;
  @apply px-4 py-2 border-2 border-gray-200 rounded-full bg-gray-200 w-64;

  &:focus {
    @apply outline-none border-purple-500 bg-white;
  }

  &:hover {
    @apply bg-white;
  }

  &.input-expandable:focus {
    @screen sm {
      @apply w-1/2;
    }

    @apply w-full;
  }
}

.grid-container {
  display: grid;
  grid-gap: 1rem;
}

.grid-rows-auto {
  grid-auto-rows: 2rem;
}

.grid-columns {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
